<div class="row center">
    <a id="gotoTopBtn" class="waves-effect btn white black-text" style="border-radius: 15px;position: fixed;bottom: 5px;left: 45%;visibility: hidden;transition: all 500ms;">
        <i class="material-icons left">arrow_drop_up</i>
        back to top</a>
</div>