<div class="navbar-fixed">
  <nav id="navbar" class="animated slideInDown" style="height: 75px;">
    <div class="nav-wrapper blue darken-1" style="border-bottom-left-radius: 20px;border-bottom-right-radius: 24px;">
      <a href="#" data-target="slide-out" class="sidenav-trigger" style="display: block;">
        <i class="material-icons">menu</i>
      </a>
      <a style="font-family: 'kastangFont';
                   text-shadow: 3px 4px 0px red;
                   font-size: 47px;" href="javascript:delay('/home')" class="brand-logo white-text logoPos">KasTang</a>
      <ul class="right">
        <li style="margin-right: 15px;">
          <a class="dropdown-trigger" href="#!" data-target="gaming-content">
            <i class="material-icons" style="font-size: 44px;">videogame_asset</i>
          </a>
        </li>
        <li style="margin-right: 15px;">
          <a class="dropdown-trigger" href="#!" data-target="laptop-content">
            <i style="font-size: 44px;" class="material-icons">laptop_mac</i>
          </a>
        </li>
        <li style="margin-right: 15px;">
          <a class="dropdown-trigger" href="#!" data-target="phone-content">
            <i style="font-size: 44px;" class="material-icons">phone_android</i>
          </a>
        </li>
        <li style="" id="navbar-last-link">
          <a class="dropdown-trigger" href="#!" data-target="pc-content">
            <i style="font-size: 44px;" class="material-icons">desktop_windows</i>
          </a>
        </li>
        <li style="">
          <a href="#search">
            <i class="material-icons white-text">search</i>
          </a>
        </li>

      </ul>
    </div>
  </nav>

  <ul id="gaming-content" class="dropdown-content" style="width: 100%;">
    <li>
      <a href="">All</a>
    </li>
    <li>
      <a href="">Consoles</a>
    </li>
    <li>
      <a href="">Games</a>
    </li>
    <li>
      <a href="">Accessories</a>
    </li>
  </ul>

  <ul id="laptop-content" class="dropdown-content">
    <li>
      <a href="javascript:delay('/products/laptops')">All</a>
    </li>
    <li>
      <a href="">Gaming</a>
    </li>
    <li>
      <a href="">Developers</a>
    </li>
    <li>
      <a href="">Standard</a>
    </li>
  </ul>

  <ul id="phone-content" class="dropdown-content">
    <li>
      <a href="/products/mobiles">All</a>
    </li>
    <li>
      <a href="">Accessories</a>
    </li>
  </ul>

  <ul id="pc-content" class="dropdown-content">
    <li>
      <a href="">All</a>
    </li>
    <li>
      <a href="">Gaming</a>
    </li>
    <li>
      <a href="">Accessories</a>
    </li>
  </ul>

  <ul id="account-content" class="dropdown-content">
    <li>
      <a href="">Sign Up</a>
    </li>
    <li>
      <a href="">Log In</a>
    </li>
  </ul>


</div>
<ul id="slide-out" class="sidenav">
  <li>
    <div class="user-view">
      <div class="background">
        <img src="/images/trees.jpg" alt="img">
      </div>
      <a href="">
        <img class="circle" src="" alt="">
      </a>
      <a href="">
        <span class="white-text name">Raghav Kaushik</span>
      </a>
      <a href="">
        <span class="white-text email">raghav.kaushik611@gmail.com</span>
      </a>
    </div>
  </li>
  <li>
    <a href="/home">
      <i class="material-icons">weekend</i>Home</a>
  </li>
  <li>
    <a href="/signup">
      <i class="material-icons">create</i>Sign Up</a>
  </li>
  <li>
    <a href="#">
      <i class="material-icons">whatshot</i>Trending</a>
  </li>
  <li>
    <a href="">sec link</a>
  </li>
  <li>
    <div class="devider"></div>
  </li>
  <li>
    <a href="/login" class="waves-effect">
      <i class="material-icons">portrait</i>Log In</a>
  </li>
  <li>
    <a href="" class="waves-effect">
      <i class="material-icons">face</i>Log out</a>
  </li>
  <li>
    <a href="/secretadmin" class="waves-effect">
      <i class="material-icons green-text">settings</i>CMS</a>
  </li>
</ul>