<div id="scrollhere" class="container section">
    <nav>
        <div class="nav-wrapper">
            <form action="/search" method="GET">
                <div class="input-field blue" id="searchbar">
                    <input id="search" type="search" name="stuff" placeholder="Search here" autocomplete="off">
                    <label for="search" class="label-icon" style="top:-9px;padding-left: 15px;">
                        <i class="material-icons">search</i>
                    </label>
                    <i class="material-icons">close</i>
                </div>
            </form>
        </div>
    </nav>
</div>