<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>KasTang</title>

  <!-- CSS  -->
  <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
  <link href="css/font-awesome.min.css" type="text/css" rel="stylesheet"/>
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/my-css.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/animate.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<style type="text/css">
    body{
        background: ;
    }
</style>


<body class="animated rollIn">
    
        <div class="center row" style="margin-top: 9%;">
            <h1 class="teal-text"> Error !</h1>
            <h3 class="light green-text">You are not logged in.</h3>
        </div>
        <div class="row center">
            <a href="/login" class=" green waves-effect waves-light btn" style="margin-right: 31px;">Log in</a>
            <a href="/signup" class=" blue waves-effect waves-light btn ">sign up</a>
        </div>



  <script src="js/jquery.min.js"></script>
  <script src="js/handlebars.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>


</body>

</html>