<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Sign Up successful</title>

  <!-- CSS  -->
  <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<style type="text/css">
  body{
      
  }
</style>
<body>
  
  {{> navbar}}
  {{!--<nav>
    <div class="nav-wrapper green accent-2">
      <a href="#" class="white-text center brand-logo">Sign Up Success!</a>
    </div>
  </nav>
  --}}
  <h1 class="thin center section">Sign up successful !</h1>

  <h2 class="center">Welcome</h2>
  <h3 class="center">{{USER}}</h3>


  
  <!--  Scripts-->
  <script src="js/jquery.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  <script type="text/javascript">
    
  </script>
  
  </body>
</html>
