<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" type="image/png" sizes="96x96" href="/images/ms-icon-310x310.png">
  <title>KasTang</title>

  <!-- CSS  -->
  <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
  <link href="css/font-awesome.min.css" type="text/css" rel="stylesheet" />
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="css/my-css.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="css/animate.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<style type="text/css">
  body{
    background: rgba(75, 86, 241, 0.74);
  }
  #logo {
    font-family: 'kastangFont';
    text-shadow: 3px 4px 0px red;
    font-size: 89px;
    color: white;
  }

  

  img.responsive-img {
    height: -webkit-fill-available;
  }

  /*#here {
    background:coral;
    background-size: cover;
    background-position-y: 31%;
    margin-top: -30px;
    height: 42em;
    background: linear-gradient(270deg, #1d04ff, #23ca9f, #1881c8, #ba20dd, #f5fb08, #ff0009);
    background-size: 600% 600%;
    -webkit-animation: bgAnimaie 6s ease 12s;
    -moz-animation: bgAnimaie 6s ease 12s;
    animation: bgAnimaie 6s ease 12s;
    
  }

 #info1,#info3,#info2 {
        -webkit-animation: bgAnimaie 4s ease infinite;
        -moz-animation: bgAnimaie 4s ease infinite;
        animation: bgAnimaie 4s ease infinite;
  }

    @-webkit-keyframes bgAnimaie {
        0% {
          background-position: 0% 41%
        }
        50% {
          background-position: 100% 60%
        }
        100% {
          background-position: 0% 41%
        }
      }
      @-moz-keyframes bgAnimaie {
        0% {
          background-position: 0% 41%
        }
        50% {
          background-position: 100% 60%
        }
        100% {
          background-position: 0% 41%
        }
      }
      @keyframes bgAnimaie {
        0% {
          background-position: 0% 41%
        }
        50% {
          background-position: 100% 60%
        }
        100% {
          background-position: 0% 41%
        }
      }*/
</style>

<body id="whole" class="animated fadeIn">

  {{> navbar}} 
  {{!-- {{> brandlogo}} --}}


  <div id="here" class="">
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1 id="logo" class="center-align">KasTang</h1>
    <h3 class="center-align light black-text">#1 Selling & Most Popular
      <br>
    </h3>
    <h4 class="center-align light grey-text text-darken-3">Join the 2.5M satisfied customers today</h4>
    <div class="container center">
      <div class="section"></div>
      <div class="section"></div>
      <a class="waves-effect waves-blue btn-large  pulse" id="explore" style="border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;">
        Explore</a>
    </div>
  </div>


  <div id="scrollhere" class="container section">
    <nav>
      <div class="nav-wrapper">
        <form action="/search" method="GET">
          <div class="input-field blue" id="searchbar">
            <input id="search" type="search" name="stuff" placeholder="Search here" autocomplete="off">
            <label for="search" class="label-icon" style="top:-9px;padding-left: 15px;">
              <i class="material-icons">search</i>
            </label>
            <i class="material-icons">close</i>
          </div>
        </form>
      </div>
    </nav>
  </div>


  <div class="container row">
    <div class="col s4 m4">
      <div id="info1" class="card info big hoverable z-depth-3" style="background:linear-gradient(270deg, #ffc404,#ee0505d8);background-size: 600% 600%;">
        <div class="card-content white-text">
          <span class="card-title"></span>
          <p class="light center-align">NEW ARRIVALS</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>

    <div class="col s4 m4">
      <div id='info2' class="card info big hoverable z-depth-3" style="background:linear-gradient(270deg, #1d04ff,#f0034a);background-size: 600% 600%;">
        <div class="card-content white-text">
          <span class="card-title"></span>
          <p class="center-align light">20% OFF ON COMPUTER ACCESSORIES</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>

    <div class="col s4 m4">
      <div id="info3" class="card big info hoverable z-depth-3" style="background:linear-gradient(270deg, #ff0479,#b623ca);background-size: 600% 600%;">
        <div class="card-content white-text">
          <span class="card-title"></span>
          <p class="center-align light">50% OFF ON GAMES</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>

  {{> backtotop }}



  {{> footer}} {{!-- Scripting --}}
  <script src="js/jquery.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/my-script.js"></script>
  <script type="text/javascript">


   

    $(document).ready(() => {

      $("#navbar-last-link").css("margin-right",window.innerWidth/3.06966);
      $(".logoPos").css("margin-left",window.innerWidth/6.72906);

      $(window).resize(function(){
        $("#navbar-last-link").css("margin-right",window.innerWidth/3.06966);
        $(".logoPos").css("margin-left",window.innerWidth/6.72906);
      });

      $('#search ').autocomplete({
        data: {
          "Laptop": null,
          "Smartphones": null,
          "Gaming PC": null,
          "Gaming laptop": null,
          "Lenovo laptops": null
        },
        limit: 5,
        minLength: 1,
        onAutocomplete: function (val) {

        }
      });

      
      });

  </script>
</body>

</html>